<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436696195305-p6uo8fsp92vpkugce7j3i0piojvtifvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436696195305-p6uo8fsp92vpkugce7j3i0piojvtifvb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>436696195305-50381i2jkfrfhgdt9uikh0on6iuuq94f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUsxdDPR1q80U-jhtVnIIYwpdLAWEQ_VM</string>
	<key>GCM_SENDER_ID</key>
	<string>436696195305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ios</string>
	<key>PROJECT_ID</key>
	<string>gardier</string>
	<key>STORAGE_BUCKET</key>
	<string>gardier.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436696195305:ios:80ed772182c4e5531fd078</string>
	<key>DATABASE_URL</key>
	<string>https://gardier.firebaseio.com</string>
</dict>
</plist>